.env
.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.mypy_cache/


main.pdf
MUSIHUB_PROJECT_CONTEXT.md
db-diagram.txt
Docu/.vscode/
Docu/Docu/
Icons Desing/
TFGS/
Cómo escribir la memoria de un TFG en Informática.pdf
tabla_competidores_tfg_musica.pdf
